{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <link rel="icon" href="{% static 'bookfa.png' %}" type="image/x-icon" />
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="bg-black flex flex-col min-h-screen">
    <nav class="navbar bg-white text-black text-center font-semibold shadow-md">
        <div class="container mx-auto px-4 py-2 flex items-center justify-between">
            <div class="flex items-center">
                <a href="{% if user.is_authenticated %}{% url 'home' %}{% else %}{% url 'welcome' %}{% endif %}" class="flex items-center space-x-2">
                    <img src="{% static 'bookfa.png' %}" alt="Logo" class="h-10" />
                    <p class="text-2xl font-bold">BRS</p>
                </a>
            </div>
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                <button id="show-token" class="flex items-center space-x-1">
                    <img src="{% static 'session.png' %}" alt="Logout" class="h-8 mr-2 md:mr-0" />
                    <span class="hidden md:inline">Token</span>
                </button>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="flex items-center space-x-1">
                        <img src="{% static 'logout.png' %}" alt="Logout" class="h-8 mr-2 md:mr-0" />
                        <span class="hidden md:inline">Logout</span>
                    </button>
                </form>
                {% else %}
                <a href="{% url 'signin' %}" class="flex items-center space-x-1">
                    <img src="{% static 'login.png' %}" alt="Login" class="h-8 mr-2 md:mr-0" />
                    <span class="hidden md:inline">Login</span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="flex items-center justify-center fixed bottom-4 right-4 text-xl w-fit rounded-md px-4 py-2 border-4 z-1000 {% if message.tags == 'success' %}bg-green-400 border-green-700{% elif message.tags == 'info' %}bg-blue-400 border-blue-700{% elif message.tags == 'warning' %}bg-yellow-400 border-yellow-700{% elif message.tags == 'danger' %}bg-red-400 border-red-700{% else %}bg-gray-400 border-gray-700{% endif %}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="content flex-grow">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="footer font-bold">
        <div class="container mx-auto">
            <p>&copy; 2024 BRS. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.getElementById('show-token').addEventListener('click', async () => {
            const response = await fetch('/api/get_token/');
            if (response.ok) {
                const data = await response.json();
                alert('Your token is: ' + data.token);
            } else {
                alert('Failed to get token');
            }
        });

        setTimeout(function () {
            const messages = document.querySelectorAll(".messages li");
            messages.forEach(function (message) {
                message.style.transition = "opacity 1s ease";
                message.style.opacity = "0";
                setTimeout(() => message.remove(), 1000); 
            });
        }, 5000);
    </script>
    {% block script %}

    {% endblock script %}
</body>
</html>
